#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

if ARCH_BOARD_DA1469X

comment "Moden Dialog DA1469X Configuration Options"

menu "Moden Dialog DA1469X Peripheral Support"

endmenu

endif
